<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="dropdown.css">
        
    </head>
    <body>
        <div class="segment">
            <h1>Dropdowns 1</h1>
            <div class="container">
                <div class="dropdown-header">
                    <div class="header-border"></div>
                    <span>
                        <h2>Bachelors' Degree</h2>
                        <button class="dropdown-button">
                            <img class="dropdown-button-arrow" src="/images/angle-down.svg" width="30px"/>
                        </button>
                    </span>
                </div>
                
                <div class="dropdown-content">
                    <ul>
                        <li>Degree 1</li>
                        <li>Degree 2</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="dropdown-header">
                    <div class="header-border"></div>
                    <span>
                        <h2>Doctoral Degree</h2>
                        <button class="dropdown-button">
                            <img class="dropdown-button-arrow" src="/images/angle-down.svg" width="30px"/>
                        </button>
                    </span>
                    
                </div>
                
                <div class="dropdown-content">
                    <ul>
                        <li>Degree 1</li>
                        <li>Degree 2</li>
                        <li>Degree 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="dropdown.js"></script>
</html>
